{% extends 'page_template.html' %}


{% block body %}
<div class = "content">
    <h1 class="centeredText">NST Application</h1>

    <table>
        <tr>
            <th>File name</th>
            <th>File thumbnail</th>
            <th>Actions</th>
        </tr>
        {% if photos %}
            {% for key, value in photos.items() %}
                <tr>
                    <td>{{ value }}</td>
                    <td>TODO</td>
                    <td>
                        <a href ="">Run Style Transfer</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                <tr>
                    <td colspan=4>
                        Please upload some images!
                    </td>
                </tr>
        {% endif %}
    </table>

    <br>
    <!-- We use the Jinja syntax to get to upload function and if we upload the file we have to specify the enctype -->
    <form class = "centeredText" id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
        <div>
            <label for="inputFile">Select a file:</label>
            <input type="file" name="inputFile">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}
