{% extends 'page_template.html' %}

{% block head %}
<title>Neural Style Transfer Application</title>
{% endblock %}

{% block body %}
<div class = "content">
    <h1>NST Application</h1>

    <table>
        <tr>
            <th>File name</th>
            <th>File thumbnail</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href ="">Run Style Transfer</a>
                <br>
                <a href ="">Delete</a>
                <br>
                <a href ="{{ url_for('test') }}">Go to test</a>
                <br>
                <a href ="test">Go to test using route</a>
            </td>
        </tr>
    </table>

    <br>
    <!-- We use the Jinja syntax to get to upload function and if we upload the file we have to specify the enctype -->
    <!-- https://stackoverflow.com/questions/4526273/what-does-enctype-multipart-form-data-mean -->
    <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <label for="myfile">Select a file:</label>
        <input type="file" id="myfile" accept="image/*" multiple>
        <input type="submit" value="send">
    </form>
</div>
{% endblock %}
