<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--ink rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"-->
    <title>Neural Style Transfer Application</title>
    <!--This is Jinja2 syntax from Flask to insert in our template the code that inherits from this template-->
    <script src="{{ url_for('static', filename='scripts/get_status.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>